IMAGE_REGISTRY=ghcr.1ms.run/chaitin/magicchat
IMAGE_TAG=latest

PUBLIC_HOSTNAME=localhost
CLIENT_HTTPS_PORT=443
ADMIN_HTTPS_PORT=1443
ASSETS_HOSTNAME=assets.localhost

POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=change-me
AI_ASSISTANT_SECRET=change-me

AWS_ACCESS_KEY_ID=change-me
AWS_SECRET_ACCESS_KEY=change-me
